body {
  background: url(https://images.unsplash.com/photo-1465263284753-a3028ea154e0?auto=format&fit=crop&w=1052&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D);
  background-size: cover;
  background-position: center;
  font-family: Lato;
}
#content {
  text-align: center;
  padding-top: 25%;
}
